<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="crmLab" value="ServiceUri=https://scmlab.crm4.dynamics.com; Username={0}; Password={1}; authtype=Office365; RequireNewInstance=True;" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>